.root {
  display: flex;
  padding: 8px;
}
/*当前选择项*/
.root.active,
.root.active * {
  background-color: #607d8b;
  cursor: pointer;
}

.icon {
  display: inline-block;
  border-radius: 50%;
  margin-right: 16px;
  height: 40px;
}
.content {
  max-width: calc(100% - 56px - 16px);
}
.ellipsis {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  margin: 0;
}
.url {
  margin: 4px 0 0;
}
